body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    width: 100%;
}
nav{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.logo a{
    font-size: 40px;
    color: red;
    font-weight: bold;
    margin-left: 100px;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
ul{
    margin: 0px;
    margin-right: 100px;
}
ul li{
    float: left;
    padding: 0px 15px;
    list-style: none;
}
ul li a:hover{
    color: red;
}
.header{
    background-image: url(../download.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.content{
    position: absolute;
    top: 40%;
    left: 17%;
    transform: translate(-50% -50%);
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.5);
}
.content h1{
    
    font-size: 50px;
}
.content p{
    font-size: 20px;
    padding: 0px 50px;
}
button{
    background: none;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 6px;
    transform: 0.5s all ease;
}

button:hover{
    background: black;
    color:red;
}
 

/*menu section*/
#menu{
    padding: 25px 0 25px 0;
}
#section{
    padding: 25px 0 25px 0;
    text-align: center;
    font-size: 2rem;
    font-family: Verdana;
}

#menu_row{
    display: flex;
    padding: 0 100px 0 100px;
}
#menu_col{
    box-shadow: 2px 2px 2px #bbb;
    border: 1px solid #bbb;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    flex: 1;
}
#menu_col h2{
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-family: cursive;
}

#image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 2px-solid-orange;
}

#image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
}